@using PragimCourses.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="login__title">
    <div class="container">
        <h1>Student Login</h1>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-sm-7">
            <h1 class="login_header">Login</h1>
            <section class="login" id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-submit", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false,"",new{@class="text-danger"});
                    <div class="form-group">
                        @Html.Label("UserName Or Email Address")
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Password")
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                  
                    <div class="form-group">
                        <p>
                            Don't have an account?
                            @Html.ActionLink("Create an Account", "Register", "Account")
                            now!
                        </p>

                        <p>
                            @Html.ActionLink("Forgot password?", "ForgotPassword","Account")
                        </p>
                    </div>
                    <div class="form-group">
                        <input  type="submit" value="Log in" class="btn btn-default" />
                    </div>

                }
            </section>

        </div>
    </div>
</div>

@{Html.RenderPartial("_signup_news");}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}