@model PragimCourses.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="login__title">
    <div class="container">
        <h1>New SignUp</h1>
    </div>
</div>

<div class="container">
    <h1 class="login_header">SignUp</h1>

    <div class="row">
        <div class="col-sm-9 register__form">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(false,null,new{@class="text-danger"})

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("First Name :")
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.Label("UserName :")
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Password :")
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Last Name :")

                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Email :")
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirm Password :")
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="col-xs-12 form-group">
                     <div class="checkbox" style="margin-left: 0">
                         <label>
                             @Html.CheckBoxFor(u=>u.CheckWeekPassword) Confirm use of weak password
                         </label>
                     </div>
                 </div>
                <p class="col-xs-12">Already have an Account?
                    @Html.ActionLink("Login to your account!","Login","Account")
                </p>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Create New Account" />
                </div>
            }

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

@{Html.RenderPartial("_signup_news");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
