@model PragimCourses.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="contact__title">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="left__contact">
                    <h1>Stay In Touch</h1>
                    <div class="contact__form">
                        
                        @using (Html.BeginForm("contact","Home",FormMethod.Post))
                        {
                            @Html.ValidationSummary(false,"",new{@class="alert alert-danger"})
                            <div class="form-group">
                                @Html.LabelFor(c=>c.Name)
                                @Html.TextBoxFor(c=>c.Name,new{@class="form-control"})
                                @Html.ValidationMessageFor(c=>c.Name,"",new{@class="text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(c => c.Email)
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(c => c.Subject)
                                @Html.TextBoxFor(c => c.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Subject, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(c => c.Message)
                                @Html.TextAreaFor(c => c.Message,5,10, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Message, "", new { @class = "text-danger" })
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LfKuN0UAAAAAApO_hgLfawhEPoGGn0NKrJUPMWJ"></div>

                            <div class="form-group">
                                <button class="btn btn-default">Send</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="right__contact">
                    <div class="col-sm-6">
                        <h1>Office Address</h1>
                        <p>
                            <span class="glyphicon glyphicon-filter"></span>
                            3rd Floor Above Unilet Showroom Beside Nandas Hyderabadi Biryani, Marathahalli, Bengaluru, Karnataka 560037
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <h1>Contact Number</h1>
                        <div class="phone">
                            <p><span class="glyphicon glyphicon-earphone"></span>+01022169733</p>
                            <p><span class="glyphicon glyphicon-earphone"></span>+01022169733</p>
                        </div>
                        <div class="whatsapp">
                            <p><span class="glyphicon glyphicon-earphone"></span>+01022169733</p>
                        </div>
                        <div class="email">
                            <p><span class="glyphicon glyphicon-envelope"></span>pragim@gmail.com</p>
                            <p><span class="glyphicon glyphicon-envelope"></span>pragim@pragimtech.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>
