@model PragimCourses.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
}

<div class="feedback__title">
    <div class="container">
        <h1>Feedback</h1>
    </div>
</div>

<div class="feedback__info">
    <div class="container">
        <div class="feedback__info-details">
            <h1>Feedback</h1>
            <div class="feedback__form">
                <h2>Please provide your honest feedback about your experience with Pragim.</h2>

                @using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    
                    @Html.DropDownList("Technology",new List<SelectListItem>()
                    {
                       new SelectListItem(){Text = "DotNet Developer",Value = "DotNet Developer"},
                       new SelectListItem(){Text = "Php Developer",Value = "Php Developer"},
                       new SelectListItem(){Text = "Oracle Developer",Value = "Oracle Developer"},
                       new SelectListItem(){Text = "Database Administrator",Value = "Database Administrator"},
                       new SelectListItem(){Text = "SharePoint Developer",Value = "SharePoint Developer"}
                    },"Select Technology",new{@class="form-control"})
                    
                   
                    @Html.TextBoxFor(m=>m.TrainerName,new{@class="form-control", placeholder = "Trainer Name" })
                    @Html.TextBoxFor(m=>m.TrainerEmail,new{@class= "form-control",placeholder="Trainer Email" })
                    @Html.TextBoxFor(m=>m.TrainerName,new{@class="form-control", placeholder = "Trainee Name" })


                    @Html.DropDownList("Punctuality", new List<SelectListItem>()
                    {
                        new SelectListItem(){Text = "Always In Time",Value = "Always In Time"},
                        new SelectListItem(){Text = "Rarely Late",Value = "Rarely Late"},
                        new SelectListItem(){Text = "Rarely On Time",Value = "Rarely On Time"},
                        new SelectListItem(){Text = "Never On Time",Value = "Never On Time"}
                    }, "Select Trainer Punctuality", new{@class="form-control"})
                    
                    @Html.DropDownList("TechnologyStrength", new List<SelectListItem>()
                    {
                        new SelectListItem(){Text = "Excelent",Value = "Excelent"},
                        new SelectListItem(){Text = "Very Good",Value = "Very Good"},
                        new SelectListItem(){Text = "Good",Value = "Good"},
                        new SelectListItem(){Text = "Average",Value = "Average"},
                        new SelectListItem(){Text = "Bellow Average",Value = "Bellow Average"},
                        new SelectListItem(){Text = "Bad",Value = "Bad"}
                    }, "Trainer Technical Strength", new{@class="form-control"})
                    
                    @Html.TextAreaFor(m=>m.Comment,new{@class="form-control", placeholder = "Comments",rows = "5" })

                    <h3>Note: If you wish to remain anonymous, please donot provide your name and/or email</h3>
                    <button class="btn btn-default">Send <span class="glyphicon glyphicon-arrow-right"></span></button>


                }


            </div>
        </div>
    </div>
</div>

@Html.Partial("_signup_news")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

