@using PagedList.Mvc
@model PagedList.IPagedList<PragimCourses.ViewModels.CourseRatingViewModel>


@{
    ViewBag.Title = "Courses";
}

<div class="courses__title">
    <div class="container">
        <h1>Courses</h1>
    </div>
</div>


<div class="popular__courses">
    <div class="container">
        @foreach (var course in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="course__wrap">
                    <a href="@Url.Action("Details","Courses",new{id=course.Id})">

                        <div><img src="@Url.Content(course.ImagePath)" /></div>
                        <p>@course.Description</p>
                        <div class="course__footer">
                            <div class="star__content">
                                @for (var i = 0; i < course.Rating; i++)
                                {
                                    <span class="glyphicon glyphicon-star"></span>
                                }
                                @for (var i = 0; i < 5 - course.Rating; i++)
                                {
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                }
                            </div>
                            <span class="enrolled">@course.Enrollments.Count Enrolled</span>
                        </div>
                    </a>
                </div>

            </div>
        }
        @Html.PagedListPager(Model,page => Url.Action("Courses",new
        {
            page
        }),new PagedListRenderOptions()
        {
            DisplayEllipsesWhenNotShowingAllPageNumbers = true
        })

    </div>
</div>
@{Html.RenderPartial("_signup_news");}