@using PragimCourses.Controllers
@using PragimCourses.Models
@model IEnumerable<PragimCourses.Models.CourseDetailsHeader>
@{
    ViewBag.Title = "Course Details";
//    var course = Model?.Take(1).Single();
    var course = ViewBag.Course as Course;
    var relatedCourses = ViewBag.RelatedCourses as IEnumerable<MyCustom>;
    var averageRating = Convert.ToInt32(ViewBag.Rating);
    var enrollment = ViewBag.Enrollment as Enrollment;
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="course__Description">
                    <h1>@course.Description</h1>
                </div>
                <div class="course__image">
                    <div style="overflow: hidden;perspective: 500px">
                        <img style="width: 100%; max-height: 500px" src="@Url.Content(course.ImagePath)" alt="Alternate Text"/>

                    </div>
                    <div class="icons">
                        <div class="social__icon">
                            <a href="http://www.facebock.com">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </div>
                        <div class="social__icon">
                            <a href="http://www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="social__icon">
                            <a href="http://www.twitter.com">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="social__icon">
                            <a href="http://www.gmail.com">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Course Description
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h3>@course.Description</h3>
                                @{ string categoryName = ViewBag.CategoryName as string; }

                                @if (categoryName.ToLower() == "classroom courses")
                                {
                                    @Html.Partial("_classRoomCourses")
                                }
                                else if (categoryName.ToLower() == "free courses")
                                {
                                    @Html.Partial("_freeCourses")
                                }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Reviews
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <h3>Reviews</h3>
                                <div class="review">
                                    <span class="span-header">Average Rating</span>
                                    <span class="span-number">@averageRating</span>
                                    <p class="p-rating">
                                        @for (var i = 0; i < averageRating; i++)
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                        @for (var i = 0; i < 5 - averageRating; i++)
                                        {
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        }

                                    </p>
                                    <span>@course.Reviews.Count ratings</span>
                                    <div class="review__details">
                                        <h5>Details</h5>
                                        @for (var i = 1; i <= 5; i++)
                                        {
                                            <p>
                                                @i Stars

                                                <span>
                                                    <span class="inner-span" style="width: @(course.Reviews.Count(r => r.Rating == i)/4.5)%">
                                                    </span>
                                                </span>
                                                @course.Reviews.Count(r => r.Rating == i)
                                            </p>
                                        }
                                    </div>
                                </div>
                                <hr style="margin: 40px 0" />
                                @foreach (var review in course.Reviews)
                                {
                                    <div class="people-review">
                                        <div class="left-div">
                                            <span style="margin: 38% 38%"></span>
                                        </div>
                                        <div class="middle-div">
                                            <p>@review.Name</p>
                                        </div>
                                        <div class="right-div">
                                            @{
                                                var date = DateTime.Now - review.AddReviewDate;
                                                var hours = Math.Ceiling(date.TotalHours);
                                                var days = Math.Floor(date.TotalDays);
                                                var weeks = Math.Floor(days / 7);
                                                var months = Math.Floor(weeks / 4);
                                                var years = Math.Floor(months / 12);

                                                var result = hours < 24 ? $"more than {hours} hours" :
                                                    days < 7 ? $"more than {days} days" :
                                                        weeks < 4 ? $"more than {weeks} week" :
                                                            months < 12 ? $"more than {months} month" :
                                                                $"more than {years} year";
                                            }
                                            @result
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                }
                                <h3>ADD A REVIEW</h3>
                                <div class="form__review">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            <label>Name *</label>
                                            <input class="form-control" type="text" name="name" id="name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text" name="email" id="email" />
                                        </div>
                                        <div class="form-group">
                                            <label>Review Title *</label>
                                            <input class="form-control" type="text" name="title" id="title" />
                                        </div>
                                        <div class="form-group">
                                            <label>Rating *</label>
                                            <p id="rating" class="p-rating">
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Review Content *</label>
                                            <textarea id="content" class="form-control" rows="6"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button data-id="@course.Id" type="button" class="btn btn-default btn-submit">Submit</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="course__information">
                    <div style="padding: 25px 25px 60px">
                        <div class="price">
                            <span>Price : <span>@(course.Price == 0.00m ?"Free":course.Price.ToString())</span></span>
                        </div>
                        <div class="details">
                            <div class="left">
                                <div class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Login to your account</h4>
                                            </div>
                                            <div class="modal-body">
                                                @{Html.RenderPartial("_LoginForm");}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-default enroll"
                                        data-enrollment="@(enrollment !=null)"
                                        data-courseId ="@course.Id"
                                        data-authonticated="@User.Identity.IsAuthenticated" type="submit">
                                    @(enrollment!=null?"Start Learning":"Enroll Now!")
                                   <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>

                                @* <div class="heart"> *@
                                @*     <span class="glyphicon glyphicon-heart-empty"></span> *@
                                @* </div> *@
                            </div>
                            <div class="right">
                                <div class="star__content">
                                    @for (var i = 0; i < averageRating; i++)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                    }
                                    @for (var i = 0; i < 5 - averageRating; i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }

                                </div>
                                <span class="enrollment">126 Enrolled</span>
                            </div>
                        </div>
                        <div style="clear: both;margin-bottom: 60px"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <span class="fSpan">Enroll Dates : </span>
                                    <span class="sSpan enroll-date">
                                        @(enrollment!=null?enrollment.EnrollmentDate.ToShortDateString(): "Enroll Anytime")
                                     </span>
                                </p>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <span class="fSpan">Course Dates : </span>
                                    <span class="sSpan">@course.StartDate.Value.ToLongDateString() - @(course.EndDate.HasValue?course.EndDate.Value.ToLongDateString(): "No End Date")</span>
                                </p>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <span class="fSpan">Enrollment : </span>
                                    <span class="sSpan">Anyone</span>
                                </p>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <span class="fSpan">Language : </span>
                                    <span class="sSpan">@course.Language</span>
                                </p>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <span class="fSpan">Includes : </span>
                                    <span class="sSpan">Certificate of Completion</span>
                                </p>
                                <hr />
                            </div>
                        </div>

                        <div class="similar__course">
                            <h3 style="margin-bottom: 30px">Related Courses</h3>

                            <ul class="list-group">
                                @foreach (var rCourse in relatedCourses)
                                {
                                    <li class="list-group-item">
                                        <a style="display: flex" href="@Url.Action("Details","Courses",new{id=rCourse.Course.Id})">
                                            <div class="img-course">
                                                <img src="@Url.Content(rCourse.Course.ImagePath)" />
                                            </div>
                                            <div class="course__content">
                                                <h4 style="font-size: 14px;font-weight: 700">@rCourse.Course.Header</h4>
                                                <p style="display: flex">
                                                @{
                                                    var rating = Math.Floor(rCourse.Rating);
                                                }
                                                @for (int i = 0; i < rating; i++)
                                                {
                                                    <span class="glyphicon glyphicon-star"></span>
                                                }
                                                @for (int i = 0; i < 5 - rating; i++)
                                                {
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                }
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            
            console.log($('.btn-submit').attr('data-id'));
            var rating = 0;
            var name = $('#name');
            var email = $('#email');
            var title = $('#title');
            var content = $('#content');
            $('#rating').on('click',
                'span',
                function () {
                    $(this).toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');
                    rating = $('#rating span.glyphicon-star').length;
                });
            $('.btn-submit').on('click',
                function () {
                    validateForm();
                    $.ajax({
                            url: 'http://localhost/PragimCourses/api/Review',
                            data: JSON.stringify({
                                Name: name.val(),
                                Email: email.val(),
                                Title: title.val(),
                                Rating: rating,
                                Content: content.val(),
                                CourseId: $(this).attr('data-id')
                            }),
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json'
                        })
                        .done(function () {
                            console.log('success');
                            emptyForm();
                        })
                        .fail(function (err) {
                            console.log(err);
                        });
                });
            function validateForm() {
                if (name.val() === '') {
                    console.log('Name Is Required');
                    return;
                }
                if (title.val() === '') {
                    console.log('Title Is Required');
                    return;
                }
                if (content.val() === '') {
                    console.log('Content Is Required');
                }
                if (name.val().length > 50) {
                    console.log('Max Length For Name Is 50 Characters');
                    return;
                }
                if (title.val().length > 50) {
                    console.log('Max Length For Title Is 100 Characters');
                    return;
                }
                if (content.val().length > 200) {
                    console.log('Max Length For Content Is 200 Characters');
                    return;
                }
            }
            function emptyForm() {
                name.val('');
                email.val('');
                title.val('');
                content.val('');
                $('.p-rating span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
            }

            $('.enroll').click(function () {
                if ($(this).attr('data-enrollment') === "True") {
                    return false;
                }
                var button = $(this);
                var courseId = $(this).attr('data-courseId');
                var authonticated = $(this).attr('data-authonticated');
                if (authonticated === "False") {
                    $('.modal').modal({
                        show: true,
                       backdrop:'static'
                    });
                  
                    $.validator.addMethod("email",
                        function (e) {
                            var exp = '(^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)';
                            return new RegExp(exp,"i").test(e);
                        }, "please write correct email ex: i@int.com");
                    $.validator.addMethod("password",
                        function (e) {
                            var exp = '(^[A-Z]+[a-zA-Z0-9]+[_.-]+[a-zA-Z0-9]+$)';
                            return (new RegExp(exp).test(e) && e.length > 6);
                        }, "password must contains capital, small and special char and not less than 7 characters.");

                    $('.login-form').validate({
                        submitHandler: function (form) {
                            var email = $(form).find('#email').val();
                            var password = $(form).find('#password').val();
                            var data = {
                                email: email,
                                password: password,
                                courseId : courseId
                            };

                            $.ajax({
                                url: '/api/LoginWithEnrollment',
                                data: data,
                                type:'post'  
                            }).done(function() {
                                location.href = location.href;
                            }).fail(function(error) {
                                console.log(error);
                            });

                            return false;
                        }
                    });

                } else {
                    $.ajax({
                        url: '/api/enrollment',
                        data: {
                            "" : courseId
                        },
                        type: 'post'
                    }).done(function(data) {
                        button.text('Start Learning');
                        $('.enroll-date').text(new Date(data).toDateString());
                    }).fail(function(error) {
                        console.log(error);
                    });
                }
            });
            
        });
    </script>
}
